.root {
   -main-bkg-color: #8886FF;
 }

.button {
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #c7c5c5;
}

.button:pressed {
    -fx-background-color: #b4b7b6;
    -fx-font-weight: bold;
}
.anchor-pane{
    -fx-background-color: #8886ff;
}

.pane-background {
    -fx-fill: -main-bkg-color;
    -fx-background-color: -main-bkg-color;
}

.pane-top{
    -fx-background-color: #6461ff;
}
.pane-frame{
    -fx-background-color: #c7c6ff;
}
.pane-inFrame1{
    -fx-background-color: #a9a8e7;
}
.pane-inFrame2{
    -fx-background-color: #8b9fe4;
}


