.root {
   -main-bkg-color: #8886FF;
 }

.button {
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #c7c5c5;
}

.button:pressed {
    -fx-background-color: #b4b7b6;
    -fx-font-weight: bold;
}

.button-confirm{
    -fx-background-color: #C2FFC5;

}

.button-confirm:hover{
    -fx-background-color: #98da9b;
}

.button-confirm:pressed{
    -fx-background-color: #5edd63;
}

.button-cancel{
    -fx-background-color: #FFA3A3;

}
.button-cancel:hover{
    -fx-background-color: #c37777;
}

.button-cancel:pressed{
    -fx-background-color: #f81c1c;
}

.anchor-pane{
    -fx-background-color: #8886ff;
}

.rounded{
    -fx-background-radius: 18px;
}

.pane-background {
    -fx-fill: -main-bkg-color;
    -fx-background-color: -main-bkg-color;
}

.pane-top{
    -fx-background-color: #6461ff;
}
.pane-frame{
    -fx-background-color: #c7c6ff;
}
.pane-inFrame1{
    -fx-background-color: #a9a8e7;
}
.pane-inFrame2{
    -fx-background-color: #8b9fe4;
}

.tableview-receipt{
    -fx-table-cell-border-color: transparent;
}


.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #E6E5FF;
}